*.o
*.nc
*.vtk
*.vw
*.xyz
*.vts
*.pyc
atmosphere/AGCM
atmosphere/atmosphere
.ipynb_checkpoints/
.DS_Store
*.sublime-*
*.so
env-atom/
pyatom.egg-info
basemap-1.0.7/
geos/
*-todo.txt
.vscode/
deprecated/
python/pyatom.cpp
atm
libatom.a
hyd
output-*/
*.inc
examples/config.xml
*.pxi
python/pyatom.h
python/pyatom.pyx
Roger_dev.geany
.gitignore
*.history
*.swp
